.sidebar {
    position: absolute;
    left: 0;
    top: 0;
    width: 10%;
    height: 100%;
    text-align: center;
    float: left;
}
.main {
    float: right;
    width: 90%;
    padding-left: 15px;
}
.nolist {
    list-style-type: none;
}
